<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="projectDelegate" name="projectDelegate" schema="schema/projectDelegate.exsd"/>
   <extension-point id="resourceContentProvider" name="resourceContentProvider" schema="schema/resourceContentProvider.exsd"/>
   <extension-point id="debugDelegate" name="debugDelegate" schema="schema/debugDelegate.exsd"/>
   <extension-point id="resourceContentProvider2" name="resourceContentProvider2" schema="schema/resourceContentProvider2.exsd"/>
   <extension-point id="webAppDelegate" name="webAppDelegate" schema="schema/webAppDelegate.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ti.ccstudio.internal.resource.explorer.editors.ResourceExplorerEditor"
            default="true"
            extensions="ccsre"
            icon="icons/obj16/navigator.png"
            id="com.ti.ccstudio.resource.explorer.editor.resourceExplorer"
            name="%pluginName">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.ti.ccstudio.internal.resource.explorer.OpenExplorerHandler"
            id="com.ti.ccstudio.resource.explorer.openExplorer"
            name="%pluginName">
      </command>
      <command
            defaultHandler="com.ti.ccstudio.internal.resource.explorer.ShowExampleProjectsHandler"
            description="%examples.desc"
            id="com.ti.ccstudio.resource.explorer.showExampleProjects"
            name="%examples.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="com.ti.ccstudio.debug.ui.viewsMenu"
               label="&amp;View">
            <command
                  commandId="com.ti.ccstudio.resource.explorer.openExplorer"
                  icon="icons/obj16/navigator.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <or>
                        <equals
                              value="com.ti.ccstudio.TICPerspective">
                        </equals>
                        <equals
                              value="com.ti.ccstudio.TIDebugPerspective">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:project?after=open.ext">
         <command
               commandId="com.ti.ccstudio.resource.explorer.showExampleProjects"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <or>
                     <equals
                           value="com.ti.ccstudio.TICPerspective">
                     </equals>
                     <equals
                           value="com.ti.ccstudio.TIDebugPerspective">
                     </equals>
                  </or>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.ti.ccstudio.internal.resource.explorer.editors.ResourceEditorInputFactory"
            id="com.ti.ccstudio.resource.explorer.editor.inputFactory">
      </factory>
      <factory
            class="com.ti.ccstudio.internal.resource.explorer.editors.ResourceEditorInputFactory"
            id="com.ti.ccstudio.resource.explorer.editor.elementFactory">
      </factory>
   </extension>
   <extension
         point="com.ti.ccstudio.resource.explorer.resourceContentProvider">
      <resourceContentProvider
            class="com.ti.ccstudio.internal.resource.explorer.ConfigINIContentProvider"
            id="com.ti.resource.explorer.ConfigINIContentProvider">
      </resourceContentProvider>
   </extension>   
</plugin>
