<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="webAppInitializer" name="webAppInitializer" schema="schema/webAppInitializer.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.ti.resource.explorer.rcp.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.ti.resource.explorer.rcp.internal.Perspective"
            id="com.ti.resource.explorer.rcp.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.ti.resource.explorer.rcp.internal.MenuTester"
            id="com.ti.resource.explorer.rcp.MenuTester"
            namespace="com.ti.resource.explorer.rcp.commands"
            properties="canShowTiRexMenu"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.ti.resource.explorer.rcp.internal.command.ShowTiRexPageHandler"
            id="com.ti.resource.explorer.rcp.showTiRexPage"
            name="%showTiRexPage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               mnemonic="F">
            <command
                  commandId="com.ti.resource.explorer.rcp.showTiRexPage"
                  label="%showTiRexPage"
                  mnemonic="S"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="com.ti.resource.explorer.rcp.commands.canShowTiRexMenu">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  mnemonic="x">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="com.ti.ccstudio.resource.explorer.webAppDelegate">
      <webAppDelegate
            class="com.ti.resource.explorer.rcp.internal.ResourceExplorerDelegate"
            id="com.ti.resource.explorer.rcp.webAppDelegate">
      </webAppDelegate>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.ti.resource.explorer.rcp.application"
            name="Resource Explorer Application">
         <property
               name="appName"
               value="Resource Explorer Application">
         </property>
         <property
               name="windowImages"
               value="icons/window_32_16x16.png,icons/window_32_32x32.png,icons/window_32_48x48.png">
         </property>
       </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ti.resource.explorer.rcp.internal.ApplicationBrowserEditor"
            default="false"
            icon="icons/webapp.png"
            id="com.ti.resource.explorer.rcp.editor.applicationBrowser"
            name="%appBrowserTitle">
      </editor>
   </extension>
</plugin>
